/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Orienta&family=Ruda:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --background-darkmode: #18191A;
    --background-panel: #242526;
    --background-panel-hover: #4B4B4B;
    --important-buttons: #663AF3;
    --important-buttons-hover: #7F59FB;

    --searchbar-background: #353637;
    --searchbar-border: #77787A;

    --navigation-selected: #663AF3;
    --navigation-selected-border: #5B4B8E;
}

.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans-light {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.orienta-regular {
    font-family: "Orienta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.orienta-regular-lighter {
    font-family: "Orienta", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 50%;
}

.orienta-regular-evenlighter {
    font-family: "Orienta", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 20%;
}

.ruda-bold {
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ruda-regular {
    font-family: "Ruda", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ruda-regular-lighter {
    font-family: "Ruda", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    opacity: 50%;
}

/* header */
#header {
    
}