.page{
    display: flex;
    flex-direction: column;
    background-color: var(--bookface-bg);
}

.sort{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}


.content{
    background-color: var(--bookface-theme);
    width: 40%;
    align-self: center;
    box-shadow: 10px 0 15px -10px rgba(0, 0, 0, 0.5), -10px 0 15px -10px rgba(0, 0, 0, 0.5);
    border-left: 1px solid var(--bordergrey);
    border-right: 1px solid var(--bordergrey);
}

.feed{
    padding: 5px;
    background-color: var(--bookface-bg);
    margin: 10px 0px;
}

.feed-header{
    display: flex;
}

.feed-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feed-header img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.feed-content p{
    word-wrap: break-word;
}

.feed-content img{
    width: 100%;
}

.feed-footer ul{
    padding: 5px;
    margin: 0px;
}

.feed-footer ul li{
    list-style: none;
    display: inline-block;
}

.feed-footer ul li img{
    width: 25px;
    margin: 0px 0px;
}

.feed-footer ul li img:hover{
    background-color: red;
}