{{#if normal}}
    <div class="selector ruda-regular point">
            <a href="/feed" class="selector_selected">Feed</a>
            <a href="/feed/popular" style="margin-left:20%;">Popular</a>
    </div>
    {{!-- <div class="selector ruda-regular point">
            <a href="/feed" class="margin-left:20%;">Feed</a>
            <a href="/feed" style="selector_selected">Popular</a>
    </div> --}}
{{/if}}