<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/common.css"> 
    <title>Bookface</title>
</head>
<body class="bodyContent">
    <div class="header">
        <h1 class="logotype ruda-bold">Bookface</h1>
        <div class="searchBar textInput">
            <img src="../../sprites/icons/Dark/icons8-search-96-darkmode.png" alt="searchBar" />
            <p class="ruda-regular-lighter">Search...</p>
        </div>
        <div class="userProfile">
            <a href="profile.html">
                <img class="userImg" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="userprofile" />
            </a>
        </div>
    </div>
    <div class="content">
        <div id="sideBar-left" class="sideBar">
            <div class="home navigation universal_boxshadow" onclick="window.location.href='feed.html'">
                <img src="../../sprites/icons/Dark/icons8-home-96-darkmode.png" alt="home" />
                <h1 class="ruda-regular">Home</h1>
            </div>
            <div class="search navigation universal_boxshadow" onclick="window.location.href='search.html'">
                <img src="../../sprites/icons/Dark/icons8-search-96-darkmode.png" alt="search" />
                <h1 class="ruda-regular">Search</h1>
            </div>
            <div class="settings navigation universal_boxshadow" onclick="window.location.href='profile.html'">
                <img src="../../sprites/icons/Dark/icons8-edit-96-darkmode.png" alt="settings" />
                <h1 class="ruda-regular">Settings</h1>  
            </div>
        </div>
        <div class="mainContent">
            <!-- TODO: FOR YOU/POPULAR POSTS SELECTOR FOR FEED -->
            <div class="editor universal_boxshadow">
                <div class="editor_sideBorder">
                    <img class="userImg" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="user" />
                </div>
                <div class="editor_postArea">
                    <div class="editor_textArea ruda-regular-lighter">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, doloribus dolore, soluta cumque adipisci architecto iste temporibus itaque ex deserunt cum libero neque voluptatum excepturi magni dolores sequi perspiciatis iure. Repellendus, nisi molestias ducimus expedita temporibus et inventore nihil magnam consequatur. Ducimus a ipsam eaque harum voluptatem obcaecati at minus quae quis iure consequatur voluptates, nulla consequuntur eos aspernatur voluptatum error dicta? Suscipit quibusdam quidem odio accusantium optio enim porro laboriosam possimus architecto sed rerum laudantium, a eos ullam animi nam voluptas doloribus non aperiam officiis aliquid error impedit fuga! Optio vel veniam sapiente rerum, minus ratione sint id similique.</p>
                    </div>
                    <div class="editor_actions">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-add-image-96-darkmode.png" alt="image" />
                        <div class="ruda-regular importantButton">
                            <p>Post</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post universal_boxshadow">
                <div class="post_header">
                    <div class="postHeader_pic">
                        <img class="userImg" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="post_userprofile" />
                    </div>
                    <div class="postHeader_info">
                        <div>
                            <p class="ruda-regular">User Orienta</p>
                            <p class="ruda-regular-lighter">@orienta</p>
                        </div>
                        <div>
                            <p class="ruda-regular-lighter">Feb 29, 2024 10:00pm</p>
                            <p class="ruda-regular-lighter">#tag1, #tag2, #tag3</p>
                        </div>
                    </div>
                    <div class="postHeader_follow">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />
                    </div>
                </div>
                <div class="post_content">
                    <div class="postContent_text">
                        <p class="work-sans-regular">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur eum beatae officia eveniet numquam similique totam fugiat consectetur laborum, necessitatibus laudantium atque nulla debitis ipsa distinctio cumque deserunt architecto enim expedita veritatis asperiores at magnam cupiditate reiciendis. Ipsum nostrum sequi obcaecati minima, nulla tempora fuga ipsa dolorem quaerat? Obcaecati magni, voluptates ea perspiciatis sit veniam dolorem alias ducimus veritatis velit eveniet suscipit quas quasi sapiente explicabo eum sed quam, voluptatum eius expedita ipsum necessitatibus. Doloribus amet aspernatur vel quo provident suscipit obcaecati repellat ad inventore, officiis, ducimus necessitatibus qui nemo cumque officia modi? Quisquam doloremque, vero fugit excepturi id repellendus.
                        </p>
                    </div>
                    <div class="postContent_image">
                        <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn1.vectorstock.com%2Fi%2F1000x1000%2F77%2F60%2Fbig-smile-emoticon-with-thumbs-up-vector-23657760.jpg&f=1&nofb=1&ipt=08fd70b8bb75cc9952c4cf375277bad69d76663eceb35ee73048f643398e7514&ipo=images" />
                    </div>
                </div>
                <div class="post_actions">
                    <div class="postActions_like">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-like-96-darkmode.png" alt="like" />
                        <p>100</p>
                    </div>
                    <div class="postActions_dislike">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-dislike-96-darkmode.png" alt="dislike" />
                        <p>200</p>
                    </div>
                    <div class="postActions_comment">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-comments-96-darkmode.png" alt="comment" />
                        <p>300</p>
                    </div>
                    <img class="actionImg" src="../../sprites/icons/Dark/icons8-share-96-darkmode.png" alt="share" />
                </div>
            </div>
            <div class="post universal_boxshadow">
                <div class="post_header">
                    <div class="postHeader_pic">
                        <img class="userImg" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="post_userprofile" />
                    </div>
                    <div class="postHeader_info">
                        <div>
                            <p class="ruda-regular">User Orienta</p>
                            <p class="ruda-regular-lighter">@orienta</p>
                        </div>
                        <div>
                            <p class="ruda-regular-lighter">Feb 29, 2024 10:00pm</p>
                            <p class="ruda-regular-lighter">#tag1, #tag2, #tag3</p>
                        </div>
                    </div>
                    <div class="postHeader_follow">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />
                    </div>
                </div>
                <div class="post_content">
                    <div class="postContent_text">
                        <p class="work-sans-regular">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur eum beatae officia eveniet numquam similique totam fugiat consectetur laborum, necessitatibus laudantium atque nulla debitis ipsa distinctio cumque deserunt architecto enim expedita veritatis asperiores at magnam cupiditate reiciendis. Ipsum nostrum sequi obcaecati minima, nulla tempora fuga ipsa dolorem quaerat? Obcaecati magni, voluptates ea perspiciatis sit veniam dolorem alias ducimus veritatis velit eveniet suscipit quas quasi sapiente explicabo eum sed quam, voluptatum eius expedita ipsum necessitatibus. Doloribus amet aspernatur vel quo provident suscipit obcaecati repellat ad inventore, officiis, ducimus necessitatibus qui nemo cumque officia modi? Quisquam doloremque, vero fugit excepturi id repellendus.
                        </p>
                    </div>
                    <div class="postContent_image">
                        <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn1.vectorstock.com%2Fi%2F1000x1000%2F77%2F60%2Fbig-smile-emoticon-with-thumbs-up-vector-23657760.jpg&f=1&nofb=1&ipt=08fd70b8bb75cc9952c4cf375277bad69d76663eceb35ee73048f643398e7514&ipo=images" />
                    </div>
                </div>
                <div class="post_actions">
                    <div class="postActions_like">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-like-96-darkmode.png" alt="like" />
                        <p>100</p>
                    </div>
                    <div class="postActions_dislike">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-dislike-96-darkmode.png" alt="dislike" />
                        <p>200</p>
                    </div>
                    <div class="postActions_comment">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-comments-96-darkmode.png" alt="comment" />
                        <p>300</p>
                    </div>
                    <img class="actionImg" src="../../sprites/icons/Dark/icons8-share-96-darkmode.png" alt="share" />
                </div>
            </div>
            <div class="post universal_boxshadow">
                <div class="post_header">
                    <div class="postHeader_pic">
                        <img class="userImg" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="post_userprofile" />
                    </div>
                    <div class="postHeader_info">
                        <div>
                            <p class="ruda-regular">User Orienta</p>
                            <p class="ruda-regular-lighter">@orienta</p>
                        </div>
                        <div>
                            <p class="ruda-regular-lighter">Feb 29, 2024 10:00pm</p>
                            <p class="ruda-regular-lighter">#tag1, #tag2, #tag3</p>
                        </div>
                    </div>
                    <div class="postHeader_follow">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />
                    </div>
                </div>
                <div class="post_content">
                    <div class="postContent_text">
                        <p class="work-sans-regular">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur eum beatae officia eveniet numquam similique totam fugiat consectetur laborum, necessitatibus laudantium atque nulla debitis ipsa distinctio cumque deserunt architecto enim expedita veritatis asperiores at magnam cupiditate reiciendis. Ipsum nostrum sequi obcaecati minima, nulla tempora fuga ipsa dolorem quaerat? Obcaecati magni, voluptates ea perspiciatis sit veniam dolorem alias ducimus veritatis velit eveniet suscipit quas quasi sapiente explicabo eum sed quam, voluptatum eius expedita ipsum necessitatibus. Doloribus amet aspernatur vel quo provident suscipit obcaecati repellat ad inventore, officiis, ducimus necessitatibus qui nemo cumque officia modi? Quisquam doloremque, vero fugit excepturi id repellendus.
                        </p>
                    </div>
                    <div class="postContent_image">
                        <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn1.vectorstock.com%2Fi%2F1000x1000%2F77%2F60%2Fbig-smile-emoticon-with-thumbs-up-vector-23657760.jpg&f=1&nofb=1&ipt=08fd70b8bb75cc9952c4cf375277bad69d76663eceb35ee73048f643398e7514&ipo=images" />
                    </div>
                </div>
                <div class="post_actions">
                    <div class="postActions_like">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-like-96-darkmode.png" alt="like" />
                        <p>100</p>
                    </div>
                    <div class="postActions_dislike">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-dislike-96-darkmode.png" alt="dislike" />
                        <p>200</p>
                    </div>
                    <div class="postActions_comment">
                        <img class="actionImg" src="../../sprites/icons/Dark/icons8-comments-96-darkmode.png" alt="comment" />
                        <p>300</p>
                    </div>
                    <img class="actionImg" src="../../sprites/icons/Dark/icons8-share-96-darkmode.png" alt="share" />
                </div>
            </div>
        </div>
        <div id="sideBar-right" class="sideBar universal_boxshadow">
        <!-- this should fit up to 3 users, let's keep it at that. this should have the same code as calculating top posts, except it shows the users -jack -->
            <h1 class="ruda-bold">Popular Today</h1>
            <div class="featuredUser">
                <div class="featuredUser_profile">
                    <img class="userImg" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="user" />
                </div>
                <div class="featuredUser_info">
                    <p class="orienta-regular">User Orienta</p>
                    <p class="orienta-regular-lighter">@orienta</p>
                </div>
                <div class="featuredUser_follow">
                    <img class="actionImg" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />
                </div>
            </div>
        </div>
        <div class="logoutButton">
            <img class="" src="../../sprites/icons/Dark/icons8-login-rounded-96-darkmode.png" alt="logout" />
        </div>
    </div>
</body>
</html>