<body class="bodyContent">
    {{>header}}
    <div class="content">
        {{>sidebar_left}}
        <div class="mainContent">

            <!-- selector -->
            <div class="selector ruda-regular point">
                    <p class="selector_selected">Feed</p>
                    <p style="margin-left:20%;">Popular</p>
            </div>
            <!-- end selector -->

            <form action="/post" class="form-class" method="post">
                <div class="editor universal_boxshadow">
                    <div class="editor_sideBorder">
                        <img class="userImg" name="user_img" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="user" />
                    </div>
                    <div class="editor_postArea">
                        <div id="postMaker" class="ruda-regular-lighter">
                            {{!<input id="postContent" type="text" name="postContent" placeholder="Write what's on your mind">}}
                            <textarea id="postContent" class="input" name="postContent" placeholder="Write what's on your mind" style="resize:none"></textarea>
                        </div>
                        <div class="editor_actions">
                            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-add-image-96-darkmode.png" alt="image" />
                            {{!<div class="ruda-regular importantButton">}}
                                <button type="submit" class="post-button-class">Post</button>
                            {{!</div>}}
                        </div>
                    </div>
                </div>
            </form>
            {{#if post}}
                {{#each post}}
                {{>post this}}
                {{/each}}
            {{else}}
                <p>posts are empty</p>
            {{/if}}    
        </div>
        {{>sidebar_right}}
        <div class="logoutButton">
            <img class="" src="../../sprites/icons/Dark/icons8-login-rounded-96-darkmode.png" alt="logout" />
        </div>
    </div>
</body>