<body class="bodyContent">
    {{>header}}
    <div class="content">
        {{>sidebar_left}}
        <div class="mainContent">

            <!-- selector -->
            <div class="selector ruda-regular point">
                    <p class="selector_selected">Feed</p>
                    <p style="margin-left:20%;">Popular</p>
            </div>
            <!-- end selector -->

            {{#if post}}
                {{>content_input}}
                {{#each post}}
                {{>post}}
                {{/each}}
            {{else}}
                {{#if singlepost}}
                    {{>singlepost}}
                    {{>content_input}}
                {{else}}
                    <p>posts are empty</p>
                {{/if}}    
            {{/if}}   
        </div>
        {{>sidebar_right}}
        <div class="logoutButton">
            <img class="" src="../../sprites/icons/Dark/icons8-login-rounded-96-darkmode.png" alt="logout" />
        </div>
    </div>
</body>