<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookface Login 2.0</title>
  <link href="../public/css/common.css" rel="stylesheet">
  <link href="../public/css/login.css" rel="stylesheet">
</head>

<body>
  <div class="header">
    <h1 class="logotype ruda-bold">Bookface</h1>
  </div>
  <div class="container">  
    <div class="container-login universal_boxshadow">
      <div class="header-login ruda-regular">
        <h2>Login to Bookface</h2>
      </div>

      <div class="everyone-login ruda-bold">
        <p>Everyone's doing it!</p>
      </div>

      <div class="form-wrapper">
        <!-- <form action="#" method="post" class="form-class "> -->
        <form id="loginForm" method="post" class="form-class" action="/login">
          <label for="email" class="orienta-regular">Email</label>
          <input type="text" name="email" id="email" required>
          <label for="password" class="orienta-regular">Password</label>
          <input type="password" name="password" id="password" required>
          <div class="remember-me orienta-regular">
            <input type="checkbox" id="rememberMeLogin" name="rememberMeLogin">
            <label for="rememberMeLogin">Remember me</label>
          </div>
          {{!-- <a href="#" class="ruda-bold">Forgot Password?</a> --}}
          <button type="submit" class="login-button-class" method="POST">Login</button>
        </form>

        {{!-- <button onclick="location.href='signup.html'" class="signup-button-class">Create Account</button> --}}
        <button type="button" id="signupButton" class="signup-button-class">Create Account</button>
        <script>
        const signupButton = document.getElementById('signupButton');
        signupButton.addEventListener('click', () => {
            window.location.href = '/signup'; // Redirect to signup route
        });
        </script>
      </div>
    </div>
  </div>
</body>
</html>