<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/common.css"> 
    <link rel="stylesheet" href="../public/css/profile.css">
    <script src="../js/profile.js" defer></script>
    <title>Bookface</title>
</head>
<body class="bodyContent">
    {{>header}}
    <div class="content">
        {{>sidebar_left}}
        <div class="mainContent">
            <!-- user profile display -->
            {{>editProfileDialog}}
            <div class="profile">
                <div class="profile_header">
                    <img src="../images/zappy.jpg" class="profile_images" alt="userProfileCover" />
                </div>
                <div class="profile_picture">
                    <img src="../images/lorem.jpg" class="profile_images" alt="userProfilePicture" />
                </div>
                <div class="profile_info">
                    <h1 id="userprofile_name" class="ruda-bold">User Orienta</h1>
                    <p id="userprofile_username" class="orienta-regular-lighter">@username</p>
                    <p id="userprofile_description" class="work-sans-light">
                        Passionate explorer of technology and innovation. Lifelong learner with a knack for dudes and girls.
                    </p>
                </div>
                <div class="profile_actions">
                    <button class="importantButton point" onclick="openPopup();">Edit Profile</button>
                </div>
            </div>

            <!-- selector -->
            <div class="selector ruda-regular point">
                    <p class="selector_selected">Posts</p>
                    <p class="" style="margin-left:20%;">Replies</p>
            </div> <!-- end selector -->

            
            <div class="profile_posts">
                <!-- load posts using partial for single posts here -->
                <p style="color: white;" class="work-sans-regular">end of feed</p>
            </div>
           
        </div> <!-- end main content -->
        {{>sidebar_right}}

        <div class="logoutButton">
            <img class="" src="../sprites/icons/Dark/icons8-login-rounded-96-darkmode.png" alt="logout" onclick="/index"/>
        </div>

    </div> <!-- end content -->

    <script>
        function openPopup() {
            document.getElementById("editProfile").style.display = "block";
        }

        function closePopup() {
            document.getElementById("editProfile").style.display = "none";
        }
    </script>
</body>
</html>