.profile, .profile_header {
    border-radius: inherit;
}

.profile {
    background-color: var(--background-panel);
    width: 100%;
    height: 400px;

    position: relative; /* use as anchor for .profile_photo */
}

.profile_images {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile_header {
    background-color: var(--background-darkmode);
    height: 50%;

    overflow: hidden;
}

.profile_picture {
    background-color: var(--background-panel);
    border: 5px solid var(--background-panel);
    border-radius: inherit;
    overflow: hidden;
    height: 168px;
    width: 168px;    

    position: absolute; 
    top: 50%; /* vertically centered */
    left: 10%; /* for horizontally centered, make 50 but i moved this to the left */
    transform: translate(-50%, -50%); /* center perfectly */
    z-index: 1; 
}

.profile_picture img:hover {
    cursor: pointer;
}

.profile_info {
    padding: 30px 10px 10px 230px;
}

.profile_info h1, .profile_info p {
    color: white;
    margin: 0;
}

.profile_info h1 {
    font-size: 40px;
}

.profile_info p {
    font-size: 20px;
    padding: 5px;
}

.profile_posts {
    background-color: var(--background-panel);
    border-radius: inherit;

    min-width: 100%;
    min-height: 50%;
    text-align: center;
}

.profile_posts p {
    padding: 10px;
}

/*** edit profile ***/

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* using rgba wont affect children */
    z-index: 2;
}

.editProfile {
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.editProfileDialog {
    background-color: var(--background-panel);
    height: 80%;
    width: 500px;
    border-radius: 25px;
    padding: 20px;

    overflow: auto;
}

.editProfileDialog h1 {
    color: white;
    margin: 10px;
}

.editImages {
    border-radius: inherit;
}

.imagePreviews {
    border-radius: inherit;
    background-color: gray;
    overflow: hidden;
}

.imagePreviews:hover {
    cursor: pointer;
}

.headerPreview {
    height: 200px;
    overflow: hidden;
}

.profilePicPreview {
    height: 168px;
    width: 168px;
    border: 3px solid var(--background-panel);
    background-color: #6D7278;

    position: relative; 
    top: 50%; /* vertically centered */
    left: 50%; /* for horizontally centered, make 50 but i moved this to the left */
    transform: translate(-50%, -50%); /* center perfectly */
    z-index: 1; 

    overflow: hidden;
}

.editInfo {
    padding: 10px;
}

.editInfo label {
    color: white;
    margin: 5px;
    padding: 5px;
}

.editInfo input {
    border: solid 1px var(--textInput-border);
    border-radius: 10px;

    width: 100%;
    height: 30px;
}

.editInfo textarea {
    border: solid 1px var(--textInput-border);
    border-radius: 10px;

    width: 100%;
    max-height: 500px;
    height: 110px;
    overflow: auto;
    resize: none;
}

.editInfoActions {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editInfoActions button {
    box-shadow: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}