.adduser-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -10px -10px;
}

.clearsearch-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -126px -10px;
}

.comments-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -10px -126px;
}

.dislike-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -126px -126px;
}

.edit-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -242px -10px;
}

.filter-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -242px -126px;
}

.home-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -10px -242px;
}

.like-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -126px -242px;
}

.login-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -242px -242px;
}

.logout-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -358px -10px;
}

.userprofile-darkmode {
    background-size: 40px 40px;
    background: url('css_sprites.png') -358px -126px;
}

/* use only if POST button isn't used */
.addpost-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -358px -242px;
}

.unfollow-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -10px -358px;
}

.search-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -126px -358px;
}

.searchmore-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -242px -358px;
}

.sharepost-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -358px -358px;
}

.addimgtopost-darkmode {
    width: 96px; height: 96px;
    background: url('css_sprites.png') -474px -10px;
}