.bg-icons8_add_user_male_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -10px -10px;
}

.bg-icons8_clear_search_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -126px -10px;
}


.bg-icons8_comments_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -10px -126px;
}

.bg-icons8_dislike_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -126px -126px;
}

.bg-icons8_edit_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -242px -10px;
}

.bg-icons8_filter_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -242px -126px;
}

.bg-icons8_home_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -10px -242px;
}

.bg-icons8_like_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -126px -242px;
}

.bg-icons8_login_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -242px -242px;
}

.bg-icons8_login_rounded_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -358px -10px;
}

.bg-icons8_male_user_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -358px -126px;
}

.bg-icons8_post_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -358px -242px;
}

.bg-icons8_remove_user_group_man_man_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -10px -358px;
}

.bg-icons8_search_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -126px -358px;
}

.bg-icons8_search_more_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -242px -358px;
}

.bg-icons8_share_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -358px -358px;
}

.bg-icons8_add_image_96_lightmode {
    width: 96px; height: 96px;
    background: url('css_sprites-lightmode.png') -474px -10px;
}