.profile, .profile_header {
    border-radius: inherit;
}

.profile {
    background-color: var(--background-panel);
    width: 100%;
    height: 400px;

    position: relative; /* use as anchor for .profile_photo */
}

.profile_images {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile_header {
    background-color: var(--background-darkmode);
    height: 50%;

    overflow: hidden;
}

.profile_picture {
    background-color: var(--background-panel);
    border: 5px solid var(--background-panel);
    border-radius: inherit;
    overflow: hidden;
    height: 168px;
    width: 168px;    

    position: absolute; 
    top: 50%; /* vertically centered */
    left: 10%; /* for horizontally centered, make 50 but i moved this to the left */
    transform: translate(-50%, -50%); /* center perfectly */
    z-index: 1; 
}

.profile_picture img:hover {
    cursor: pointer;
}

.profile_info {
    padding: 30px 10px 10px 230px;
}

.profile_info h1, .profile_info p {
    color: white;
    margin: 0;
}

.profile_info h1 {
    font-size: 40px;
}

.profile_info p {
    font-size: 20px;
    padding: 5px;
}

.profile_posts {
    background-color: var(--background-panel);
    border-radius: inherit;

    min-width: 100%;
    min-height: 50%;
    text-align: center;
}

.profile_posts p {
    padding: 10px;
}

/*** edit profile ***/

