.searchOptions_main {
    min-width: 100%;
    height: auto; /* adjust to content */
    
    display: flex;
    justify-content: flex-end;
    border-radius: inherit;
    padding-right: 20px;
}

.searchOptions {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.searchOptions:hover {
    background-color: var(--background-panel-hover);
}

.searchOptions * {
    padding: 10px;
}

.searchResults {
    /* this is the same as profile.css/profile_posts */
    background-color: var(--background-panel);
    color: white;

    background-color: var(--background-panel);
    border-radius: inherit;

    min-width: 100%;
    min-height: 50%;
    text-align: center;
}

.searchResults p {
    padding: 10px;
}

/*===================================================*/

.searchOptions_dropdown {
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 1;
}

/* Style the search options dropdown when it is open */
.searchOptions_dropdown.open {
    display: block;
}

/* Style the dropdown options */
.searchOptions_dropdown a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

.searchOptions_dropdown a:hover {
    background: #f5f5f5;
}