{{#if edit}}
    <form action="/feed" class="form-class" method="post">
        <div class="editor universal_boxshadow">
            <div class="editor_sideBorder">
                <img class="userImg" name="user_img" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="user" />
            </div>
            <div class="editor_postArea">
                <div id="postMaker" class="ruda-regular-lighter">
                    {{!<input id="postContent" type="text" name="postContent" placeholder="Write what's on your mind">}}
                    <input id="postTitle" type="text" name="postTitle" placeholder="Write the title on your mind"></input>
                    <textarea id="postContent" class="input" name="postContent" placeholder="Write what's on your mind" style="resize:none"></textarea>
                    <input id="postTags" type="text" name="postTags" placeholder="Write the tags that suit the post best"></input>
                </div>
                <div class="editor_actions">
                    <img class="actionImg point" src="../../sprites/icons/Dark/icons8-add-image-96-darkmode.png" alt="image" />
                    {{!<div class="ruda-regular importantButton">}}
                        <button type="submit" class="post-button-class">Post</button>
                    {{!</div>}}
                </div>
            </div>
        </div>
    </form>
{{/if}}

{{#if singlepost}}
    <form action="/feed/{{_id}}" class="form-class" method="post">
        <div class="editor universal_boxshadow">
            <div class="editor_sideBorder">
                <img class="userImg" name="user_img" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="user" />
            </div>
            <div class="editor_postArea">
                <div id="postMaker" class="ruda-regular-lighter">
                    {{!<input id="postContent" type="text" name="postContent" placeholder="Write what's on your mind">}}
                    <textarea id="postContent" class="input" name="commentContent" placeholder="Write what's on your mind" style="resize:none"></textarea>
                </div>
                <div class="editor_actions">
                    <img class="actionImg point" src="../../sprites/icons/Dark/icons8-add-image-96-darkmode.png" alt="image" />
                    {{!<div class="ruda-regular importantButton">}}
                        <button type="submit" class="post-button-class">Comment</button>
                    {{!</div>}}
                </div>
            </div>
        </div>
    </form>
{{/if}}