    <div class="header">
        <h1 class="logotype ruda-bold">Bookface</h1>
        <div class="searchBar textInput">
            <img src="../../sprites/icons/Dark/icons8-search-96-darkmode.png" alt="searchBar" />
            <p class="ruda-regular-lighter">Search...</p>
        </div>
        <div class="userProfile">
            <a href="profile.html">
                <img class="userImg" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="userprofile" />
            </a>
        </div>
    </div>