        <div id="sideBar-left" class="sideBar">
            <div class="home navigation universal_boxshadow" onclick="window.location.href='feed.html'">
                <img src="../../sprites/icons/Dark/icons8-home-96-darkmode.png" alt="home" />
                <h1 class="ruda-regular">Home</h1>
            </div>
            <div class="search navigation universal_boxshadow" onclick="window.location.href='search.html'">
                <img src="../../sprites/icons/Dark/icons8-search-96-darkmode.png" alt="search" />
                <h1 class="ruda-regular">Search</h1>
            </div>
            <div class="settings navigation universal_boxshadow" onclick="window.location.href='profile.html'">
                <img src="../../sprites/icons/Dark/icons8-edit-96-darkmode.png" alt="settings" />
                <h1 class="ruda-regular">Settings</h1>  
            </div>
        </div>