        <div id="sideBar-right" class="sideBar universal_boxshadow">
        <!-- this should fit up to 3 users, let's keep it at that. this should have the same code as calculating top posts, except it shows the users -jack -->
            <h1 class="ruda-bold">Popular Today</h1>
            <div class="featuredUser">
                <div class="featuredUser_profile">
                    <img class="userImg" src="../../sprites/icons/Dark/icons8-male-user-96-darkmode.png" alt="user" />
                </div>
                <div class="featuredUser_info">
                    <p class="orienta-regular">User Orienta</p>
                    <p class="orienta-regular-lighter">@orienta</p>
                </div>
                <div class="featuredUser_follow">
                    <img class="actionImg" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />
                </div>
            </div>
        </div>