<link href="../public/css/common.css" rel="stylesheet">
<link href="../public/css/login.css" rel="stylesheet">
<script src="/public/js/login.js" defer></script>

<body>
  <div class="header">
    <h1 class="logotype ruda-bold">Bookface</h1>
  </div>
  <div class="container">  
    <div class="container-login universal_boxshadow">
      <div class="header-login ruda-regular">
        <h2>Login to Bookface</h2>
      </div>

      <div class="everyone-login ruda-bold">
        <p>Everyone's doing it!</p>
      </div>

      <div class="form-wrapper">
        <!-- <form action="#" method="post" class="form-class "> -->
        <form id="loginForm" name="loginForm" method="post" class="form-class" action="/login">
          <label for="username" class="orienta-regular">Username</label>
          <input type="text" name="username" id="username" required>
          <label for="password" class="orienta-regular">Password</label>
          <input type="password" name="password" id="password" required>
          <div class="remember-me orienta-regular">
            <input type="checkbox" id="rememberMeLogin" name="rememberMeLogin">
            <label for="rememberMeLogin">Remember me</label>
          </div>
          {{!-- <a href="#" class="ruda-bold">Forgot Password?</a>  --}} {{! Keep commented uwu }}
          <button class="login-button-class" type="submit" method="POST">Login</button>
        </form>

        <button type="button" id="signupButton" class="signup-button-class">Create Account</button>
        <button type="button" id="guestButton" class="guest-button-class">Guest Mode Baby</button>
        <script>
          // Front-end js is here for now because apparently my handlebar code CANNOT detect the js file
          document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error === 'invalidUsername') {
              alert('Invalid username. Please try again.');
            } else if (error === 'invalidPassword') {
              alert('Invalid password. Please try again.');
            }       history.replaceState({}, document.title, window.location.pathname);
          });

          const signupButton = document.getElementById('signupButton');
          signupButton.addEventListener('click', () => {
            window.location.href = '/signup'; // Redirect to signup route
          });

          const guestButton = document.getElementById('guestButton');
          guestButton.addEventListener('click', () => {
            window.location.href = '/feed'; // Redirect to feed route
          });
        </script>
      </div>
    </div>
  </div>
</body>
</html>